<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
<ul class="right">
	<li>
	<% if (user) { %>
		<a href="/logout">Log Out</a>
	<% } else { %>
		<a href="/auth/google">Login with Google</a>
	<% } %>
	</li>
</ul>
  </nav>
  <main>
    <h1><%= title %></h1>